.profile-balance {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px 24px 14px 24px;
    background: linear-gradient(293.14deg, #00219C 18.04%, #6181FC 115.05%);
    box-shadow: 0 16px 8px -16px rgba(27, 27, 27, 0.5);
    border-radius: 12px;
    color: #FFFFFF;
}

.profile-balance__background {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 161px;
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='161' height='42' viewBox='0 0 161 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M20.272 35.2078L8.60578 35.9132L8.13225 29.1169L17.7709 28.5341C19.4761 28.431 20.8464 28.1394 21.8818 27.6594C22.9381 27.1781 23.6918 26.5273 24.1431 25.7069C24.5932 24.8657 24.7824 23.8524 24.7107 22.6671C24.629 21.3154 24.3134 20.2387 23.764 19.4371C23.2147 18.6354 22.388 18.0802 21.284 17.7712C20.1995 17.4402 18.8151 17.3257 17.1307 17.4275L11.204 17.7858L13.4728 55.3111L3.30391 55.9259L0.557912 10.5088L16.6535 9.53567C19.3777 9.37096 21.8259 9.47339 23.998 9.84298C26.1701 10.2126 28.0362 10.872 29.5963 11.8212C31.1772 12.7692 32.41 13.9991 33.2945 15.511C34.179 17.0229 34.6854 18.8394 34.8136 20.9605C34.9255 22.8113 34.614 24.5624 33.879 26.214C33.1648 27.8643 31.9333 29.2432 30.1844 30.3507C28.4356 31.4583 26.0456 32.1455 23.0145 32.4122L20.272 35.2078ZM21.0528 54.8528L7.20304 55.6902L10.4086 47.607L20.5775 46.9921C22.1371 46.8978 23.3906 46.5716 24.3378 46.0134C25.285 45.4552 25.9616 44.736 26.3675 43.8557C26.7734 42.9755 26.9444 42.005 26.8802 40.9445C26.8048 39.6967 26.5211 38.6286 26.029 37.74C25.5578 36.8502 24.8496 36.1833 23.9044 35.7396C22.9801 35.2946 21.7692 35.1173 20.272 35.2078L11.1636 35.7585L10.8148 28.9547L21.9508 28.2814L24.4836 30.8207C27.3704 30.5835 29.707 30.9118 31.4934 31.8057C33.2993 32.6774 34.6353 33.8907 35.5016 35.4454C36.3678 37.0001 36.855 38.6717 36.9631 40.4601C37.1417 43.413 36.657 45.926 35.5092 47.9991C34.3601 50.0513 32.5681 51.652 30.133 52.801C27.7187 53.9488 24.6919 54.6327 21.0528 54.8528ZM77.954 43.523L78.4292 51.3837L54.2546 52.8453L53.7794 44.9847L77.954 43.523ZM54.971 7.21892L57.717 52.636L47.5481 53.2508L44.8021 7.83375L54.971 7.21892ZM73.6691 24.4343L74.1293 32.0454L53.074 33.3185L52.6138 25.7074L73.6691 24.4343ZM75.7144 5.96473L76.1916 13.8566L51.9858 15.3201L51.5086 7.42826L75.7144 5.96473ZM103.262 12.9712L93.7575 50.4569L82.9023 51.1132L96.9694 4.67962L103.832 4.2647L103.262 12.9712ZM115.218 49.1593L101.235 13.0938L99.496 4.52685L106.452 4.10628L126.073 48.503L115.218 49.1593ZM113.697 32.2829L114.172 40.1435L90.4968 41.575L90.0215 33.7144L113.697 32.2829ZM146.719 37.1426L154.689 1.18978L166.012 0.505168L153.193 46.8633L145.8 47.3103L146.719 37.1426ZM135.38 2.35721L147.593 37.0897L149.793 47.0689L142.306 47.5215L124.089 3.03994L135.38 2.35721Z' fill='white'/%3E%3C/svg%3E%0A");
}

.profile-balance__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.profile-balance__beav {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.profile-balance__beav span {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}