.underline-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 100%;
    max-width: 500px;
    margin: 0 0 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

.underline-heading__border {
    width: 100%;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.3;
}

.underline-heading button {
    border: 0;
    background: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
    color: #F402BF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.underline-heading button::after {
    margin: 0 0 0 4px;
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5156 4.8125L17.7031 11L11.5156 17.1875M16.8438 11H4.29688' stroke='%23F402BF' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}